<section class="page-header">

  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline"><i class="fab fa-pagelines"></i> {{ site.tagline }} <i class="fab fa-pagelines"></i></h2>
  <a href="{{ site.baseurl }}/quisuisje/" class="btn"><i class="fas fa-id-badge"></i> Qui suis-je?</a>
  <a href="{{ site.baseurl }}/butsite/" class="btn"><i class="fas fa-question-circle"></i> Quel est le but de ce site?</a>
  <a href="mailto:arnaud31.dufour@gmail.com?subject=Blog Github" class="btn"><i class="fas fa-envelope"></i> Une question ?</a>
</section>